* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	color: #444;
	text-align: center;
	line-height: 1.5;
	min-width: 320px;
}

.footer {
	position: absolute;
	bottom: 1%;
	width: 100%;
	background-color: #aaa;
}

header {
	padding: 45px 15px;
	position: relative;
}

section {
	min-height: 400px;
	padding: 30px 15px;
	background-color: #bbb;
	padding: 0;
	text-align: center;
}

button {
	display: inline-block;
	margin-bottom: 50px;
	height: 3.5rem;
	width: 7.5rem;
	margin: 1rem 1rem 0 1rem;
}

.back-button {
	background-color: #cacaca;
	border-radius: 30px;
	border: 0;
	color: black;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	padding: 8px 8px 8px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 3px;
}

.logout-button {
	background-color: #cacaca;
	border-radius: 30px;
	border: 0;
	color: black;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	padding: 8px 8px 8px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 3px;
}

h2 {
	font-weight: 700;
	font-size: 20px;
}

form {
	margin: 0 auto;
	padding: 0 0 40px;
	max-width: 650px;
	text-align: left;
}

label p {
	margin: 6px 0 23px;
}

label {
	display: block;
}

.form-section {
	margin-bottom: 30px;
}

.button-section {
	padding: 0 0 0 15px;
}

.form-section input,
.form-section textarea {
	width: 100%;
}

.login-div {
	display: block;
	text-align: center;
}

.login-form {
	display: inline-block;
}

.signup-div {
	display: block;
	text-align: center;
}

.signup-form {
	display: inline-block;
}

.positive-statement-div {
	display: flex;
	text-align: center;
}

.positive-statement-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#treasures-element {
	display: none;
}
