* {
	box-sizing: border-box;
}

/* ----- General ----- */
html {
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

small {
	font-size: xx-small;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	justify-content: center;
	align-items: center;
}

header {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	padding: 0 5px;
	position: relative;
	margin-bottom: 0;
}

h1 {
	font-size: 35px;
}

.landing-h1 {
	margin-bottom: 0;
	font-size: 50px;
}

h2 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
}

h4 {
	font-size: 19px;
	margin-top: 15px;
}

p {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: small;
	font-style: italic;
	letter-spacing: 0.5px;
}

ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 35px 0 0 0;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: medium;
	border: solid;
	border-radius: 3px;
	border-width: 2px;
	border-top-color: rgb(212, 208, 190);
	border-left-color: rgb(212, 208, 190);
	border-bottom-color: rgb(212, 208, 190);
	border-right-color: rgb(212, 208, 190);
	background-color: #defcd9;
	padding: 5px 25px 10px 10px;
	position: relative;
}

.fa-hand-holding-heart {
	font-size: 40px;
	color: darkgreen;
}

.heart-btn {
	background-color: transparent;
	border: transparent;
}

.footer {
	width: 100%;
}

footer a {
	font-size: 65%;
}

footer a:visited {
	color: white;
}

footer a:link {
	color: black;
}

footer a:hover {
	color: aquamarine;
}

/* ----- General Sections/Divs ----- */

section {
	height: inherit;
	padding: 0 15px;
	text-align: center;
}

/* ----- Landing ----- */

.landing-section {
	display: flex;
	flex-direction: column;
}

.landing-btn-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 25px;
}

/* ----- Sign Up ----- */

.signup-div {
	text-align: center;
}

/* ----- Login ----- */

.login-greeting {
	font-size: 30px;
}

.login-div {
	text-align: center;
}

.login-re-route {
	font-size: small;
	margin-bottom: 0;
}

/* ----- Pages ----- */

.pages-div {
	display: flex;
	text-align: center;
}

.pages-header {
	margin-top: 28px;
}

.pages-h1 {
	font-size: 35px;
	margin-top: 40px;
}

.pages-h3 {
	font-size: large;
}

.pages-h5 {
	font-size: 14px;
	margin-bottom: 7px;
	margin-top: 10px;
}

/* ----- Home ----- */

.home-div {
	color: white;
	border: solid;
	border-color: #d8f1fd;
	border-radius: 1rem;
	border-width: 0.4rem;
	background-color: #36424e;
	padding-bottom: 2rem;
	margin-top: 25px;
}

.your-space {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* ----- Vent Page ----- */

/* ----- Note It Page ----- */

.notes-header {
	margin: 0 5px 0 5px;
}

.notes-h3 {
	font-size: smaller;
	width: 95%;
}

/* ----- Forms ----- */

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0 0 5px;
	max-width: 650px;
	border: none;
}

input {
	border-top-color: cornsilk;
	border-left-color: cornsilk;
	border-radius: 5px;
	line-height: 20px;
}

label {
	font-size: medium;
}

.form-section textarea {
	width: 100%;
	height: 100px;
	margin-bottom: 15px;
}

.positive-statement-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ----- Links ----- */

.vent-link-div {
	padding-bottom: 4rem;
}

/* ----- Buttons ----- */

button {
	margin-top: 10px;
	height: 2.5rem;
	width: 5rem;
	border-radius: 7px;
	border-top-color: rgb(212, 208, 190);
	border-left-color: rgb(212, 208, 190);
	border-bottom-color: rgb(148, 190, 230);
	border-right-color: rgb(148, 190, 230);
	background-color: #defcd9;
}

.signup-btn {
	padding: 0;
	margin-bottom: 0;
}

.hidden-treasure {
	margin-top: 40px;
}

.back-button {
	background-color: #defcd9;
	border-radius: 5px;
	border: 0;
	color: black;
	display: block;
	padding: 0;
	font-size: 8px;
	font-weight: bold;
	height: 30px;
	text-align: center;
	text-decoration: none;
	width: 30px;
	cursor: pointer;
	position: absolute;
	top: -47px;
	left: 3px;
}

.logout-button {
	background-color: #defcd9;
	border-radius: 5px;
	border: 0;
	color: black;
	letter-spacing: 0.3px;
	display: block;
	font-size: 8px;
	font-weight: bold;
	height: 30px;
	text-align: center;
	text-decoration: none;
	width: 30px;
	cursor: pointer;
	position: absolute;
	top: -47px;
	right: 3px;
}

.button-section {
	padding: 0 0 0 15px;
}

.delete-btn {
	text-align: center;
	font-size: 11px;
	color: rgb(173, 35, 35);
	border: none;
	border-radius: 0;
	background-color: none;
	margin-left: 10px;
	margin-top: 0;
	padding: 0;
	height: fit-content;
	width: fit-content;
	position: absolute;
	top: 0px;
	right: 2px;
}

/* ----- Misc ----- */

.rounded {
	margin-top: 0;
	border: 1px solid rgb(248, 248, 248);
	border-radius: 10px;
	width: 85%;
}

.rounded-home-top {
	margin-top: 15px;
	border: 1px solid rgb(248, 248, 248);
	border-radius: 10px;
	width: 85%;
}

.error {
	color: red;
}

/* ----- Desktop Styling ----- */

@media all and (min-width: 500px) {
	html {
		position: relative;
		min-height: 100vh;
		min-width: 100vw;
	}

	#root {
		width: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: unset;
		width: 50%;
	}

	h3 {
		font-size: 30px;
		margin-top: 65px;
	}

	small {
		font-size: x-small;
	}

	.signup-btn {
		margin-bottom: 50%;
	}

	input {
		height: 40px;
		width: 150%;
		margin-bottom: 5%;
	}

	.App {
		min-height: 100%;
		width: 100%;
		display: flex;
		justify-content: initial;
		align-items: center;
	}

	.App-main {
		height: 85%;
	}

	header {
		position: unset;
	}

	.notes-header {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer {
		width: 100%;
	}

	footer a {
		font-size: 85%;
	}

	button {
		margin-top: 10px;
		height: 3.5rem;
		width: 7rem;
	}

	button:hover {
		color: aquamarine;
		cursor: pointer;
		background-color: #36424e;
	}

	textarea {
		min-width: 400px;
	}

	.subject {
		width: 400px;
	}

	.landing-btn-div {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 3%;
		margin-bottom: 5%;
	}
	.landing-section {
		display: flex;
		align-items: center;
		height: auto;
		margin-top: 50px;
	}

	.landing-description {
		width: 60%;
	}

	.landing-description p {
		font-size: large;
		width: 250%;
	}

	.notes-section {
		margin-top: 0;
	}

	.back-button {
		background-color: #defcd9;
		border-radius: 5px;
		border: 0;
		color: black;
		display: block;
		font-size: 12px;
		font-weight: bold;
		height: 50px;
		padding: 8px 8px 8px;
		text-align: center;
		text-decoration: none;
		width: 50px;
		cursor: pointer;
		position: absolute;
		top: 0px;
		left: 0.5rem;
	}

	.logout-button {
		background-color: #defcd9;
		border-radius: 5px;
		border: 0;
		color: black;
		display: block;
		font-size: 12px;
		font-weight: bold;
		height: 50px;
		padding: 8px 8px 8px;
		text-align: center;
		text-decoration: none;
		width: 50px;
		cursor: pointer;
		position: absolute;
		top: 0px;
		right: 0.5rem;
	}

	.logout-button:hover {
		color: aquamarine;
		cursor: pointer;
		background-color: #36424e;
	}

	.back-button:hover {
		color: aquamarine;
		cursor: pointer;
		background-color: #36424e;
	}

	.rounded {
		width: 60%;
		margin-top: 40px;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 13%;
	}

	.home-section {
		margin-top: 1.5em;
	}

	.form-section {
		margin-top: 0;
	}

	.login-section {
		margin-top: 1em;
	}

	.login-greeting {
		font-size: 35px;
		margin-bottom: 1%;
	}

	.demo-creds {
		font-size: large;
	}

	.pages-div {
		display: flex;
		text-align: center;
	}

	.pages-header {
		margin-top: 28px;
	}

	.pages-h1 {
		font-size: 45px;
		margin-top: 40px;
	}

	.pages-h3 {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: x-large;
		font-style: italic;
	}

	.pages-h5 {
		font-size: 20px;
		margin-bottom: 7px;
		margin-top: 10px;
	}

	.ps-h5 {
		font-size: 20px;
	}

	p {
		font-family: Georgia, "Times New Roman", Times, serif;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		font-size: small;
		font-style: italic;
		letter-spacing: 0.5px;
	}

	.pw-reqs {
		font-size: 0.6em;
		width: 60%;
	}

	ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		margin: 0 0 50px 0;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: medium;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-style: italic;
		border: solid;
		border-radius: 3px;
		border-width: 2px;
		border-top-color: rgb(212, 208, 190);
		border-left-color: rgb(212, 208, 190);
		border-bottom-color: rgb(212, 208, 190);
		border-right-color: rgb(212, 208, 190);
		background-color: #defcd9;
		padding: 5px 25px 10px 10px;
		margin-bottom: 10px;
		position: relative;
	}

	.fa-hand-holding-heart {
		font-size: 50px;
		color: darkgreen;
	}

	.heart-btn {
		background-color: transparent;
		border: transparent;
	}
}

@media all and (min-width: 1100px) {
	.landing-description p {
		width: 175%;
	}
}

@-moz-document url-prefix() {
	html {
		min-height: 100vh;
		min-width: 100vw;
	}
}
