* {
	box-sizing: border-box;
}

main {
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

footer a {
	font-size: 85%;
}

footer a:visited {
	color: gray;
}

footer a:link {
	color: rgb(22, 22, 22);
}

footer a:hover {
	color: darkgreen;
}

header {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	padding: 0 5px;
	position: relative;
	margin-bottom: 0;
}

.rounded {
	margin-top: 0;
	border: 1px solid rgb(248, 248, 248);
	border-radius: 10px;
	width: 75%;
}

h1 {
	margin-bottom: 0;
	font-size: 50px;
}

section {
	min-height: 10rem;
	padding: 0 15px;
	text-align: center;
	padding-bottom: 6rem;
}

.home-div {
	color: white;
	border: solid;
	border-color: #d8f1fd;
	border-radius: 1rem;
	border-width: 0.4rem;
	background-color: #36424e;
	padding-bottom: 2rem;
}

p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

button {
	margin-bottom: 50px;
	height: 3rem;
	width: 5.5rem;
	border-radius: 7px;
	border-top-color: rgb(203, 225, 231);
	border-left-color: rgb(203, 225, 231);
	border-bottom-color: rgb(148, 190, 230);
	border-right-color: rgb(148, 190, 230);
	background-color: #cebebe;
}

.landing-section {
	display: flex;
	flex-direction: column;
}

.landing-btn-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 25px;
}

.vent-link-div {
	padding-bottom: 4rem;
}

.back-button {
	background-color: #cacaca;
	border-radius: 30px;
	border: 0;
	color: black;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	padding: 8px 8px 8px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 3px;
}

.logout-button {
	background-color: #cacaca;
	border-radius: 30px;
	border: 0;
	color: black;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	padding: 8px 8px 8px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 3px;
}

h2 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
}

form {
	margin: 0 auto;
	padding: 0 0 40px;
	max-width: 650px;
	text-align: left;
}

label p {
	margin: 6px 0 23px;
}

.form-section {
	margin-bottom: 30px;
}

.button-section {
	padding: 0 0 0 15px;
}

.form-section input,
.form-section textarea {
	width: 100%;
}

.login-div {
	text-align: center;
}

.login-form {
}

.signup-div {
	text-align: center;
}

.signup-form {
}

.positive-statement-div {
	display: flex;
	text-align: center;
}

.positive-statement-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* #treasures-element {
	display: none;
} */
